div#content teacher ul{
    list-style-type: none;
	padding: 5px;
	width: 95%;
}

teacher li:nth-child(even) {
   height: 30px;
   background-color: white;
}
teacher li:nth-child(odd) {
   height: 30px;
   vertical-align: middle;
   background-color: #cccccc;
}