div#page .rightbox .profile div {
	width: 170px;
	height: 170px;
	display: block;
	margin: 0 auto;
}

div#page .rightbox .profile div {
	border-radius: 85px;
	background: #efefef url("../img/pencil.svg") no-repeat scroll 50% 50%;
}

div#page .rightbox .profile div img {
	width: 170px;
}

div#page .rightbox .profile div img:hover {
	opacity: 0.5;
}

div#page .rightbox input {
	width: 100%;
}

div#page .rightbox button {
    display: block !important;
    margin: 0 auto;
    padding: 5px 50px;
}

div#page .rightbox button span {
    position: relative;
    top: -10px;
}

div#page .rightbox button a {
	text-decoration: none;
	color: white;
}

div#page .rightbox table {
	margin: 50px 0;
}