body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87);
}

header {
    width: 100%;
    max-height: 100px;
    background-color: #2196f4;
    position: absolute;
    left: 0px;
    top: 0px;
}

header img#logo {
    height: 100px;
}

header span#schoolName {
    color: white;
    left: 53px;
    position: absolute;
    top: 75px;
}

header div#account {
    position: absolute;
    right: 50px;
    top: 15px;
}

header div#account a {
	text-decoration: none;
}

header div#account img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

header div#account span {
    color: #ffffff;
}

div#content {
    height: calc(100% - 100px);
    left: 0;
    position: absolute;
    top: 100px;
    width: 100%;
}

div#content nav {
    float: left;
    height: 100%;
    width: 270px;
    border-right: 1px solid #efefef;
}

div#content nav ul {
    list-style-type: none;
    padding: 0;
    padding-top: 3px;
    margin: 0;
}

div#content nav ul li {
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid #efefef;
}

div#content nav ul li:hover {
	background-color: #f5f5f5;
}

div#content nav ul li.logout {
    position: relative;
    bottom: 0px;
}

div#content nav ul li img {
    margin: 3px 0 0 10px;

}

div#content nav ul a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}
    
div#content nav ul li span {
    margin-left: 10px;
    position: relative;
    top: -5px;
}

div#content #page {
    padding: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 325px);
    float: right;
}

div#content #page .leftbox,
div#content #page .rightbox {
    display: inline-block;
    width: 50%;
    height: 500px;
}

div#content #page .leftbox {
    float: left;
}

div#content #page .rightbox {
    float: right;
	padding: 25px;
	width: calc(50% - 50px);
	height: 90%;
}

div.container {
    width: 100%;
}

div.container div {
    width: 100%;
}

div.container div div {
    width: calc(50% - 5px);
    display: inline-block;
}

@media (max-width: 750px) {
    header div#account {
        display: none;
    }

    div#content nav {
        display: none;
    }

    div#content #page {
        width: 100%;
    }
}