div.dialog {
	width: 600px;
	border: 1px solid #efefef;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.082);
	margin: 50px auto;
}

div.dialog div.header {
	font-size: 1.2em;
	padding: 6px 0;
	width: 100%;
	background-color: #2196f4;
	color: #ffffff;
	text-align: center;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	
}

div.dialog div.content {
	padding: 10px;
}