@import url(search.css);

input[type="checkbox"] {
    display: none;
    border: none !important;
    box-shadow: none !important;
}

input[type="checkbox"] + label {
    color: #c0c0c0;
}

input[type="checkbox"] + label span {
    background: url(../../img/ui/checkbox_unchecked.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label span {
    background: url(../../img/ui/checkbox_checked.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

input[type="text"],
input[type="password"],
input[type="checkbox"] + label,
input[type="checkbox"] + label span,
button,
a.button {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    border: 0;
    border-bottom: 2px solid #c0c0c0;
}

button {
    display: block;
}

a.button,
button {
    background-color: #2196f4;
    border: 1px solid #2196f4;
    padding: 6px;
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
}

a.button {
    text-decoration: none;
    color: #ffffff;
}