table {
	width:100%;
	height: 90%;
    text-align: center;
    margin: 20px 0;
	overflow: auto;
	display: block;
}

table thead {
    color: #ffffff;
    background-color: #2196f4;
}

table thead tr th {
    padding: 5px;
}

table tbody tr td {
    padding: 5px;
}

table.firstColumn thead, th {
	width:40%;
}